{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <title>COVID-19-Hack</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">

    <script src="https://kit.fontawesome.com/224eab9f43.js" crossorigin="anonymous"></script>

    <style>

    </style>

</head>
<body>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                COVID-19-Hack
            </h1>
            <h2 class="subtitle">
                MVP
            </h2>
        </div>
    </div>
</section>
{% if level == 0 %}
<section class="section">
    <div class="container is-fluid">
            <h1 class="title">
               Thank you! {{ message }}
            </h1>
    </div>
</section>
{% else %}
<section class="section">
    <div class="container is-fluid">
            <h1 class="title">
               Thank you! Our suggestion {{ message }}
            </h1>
    </div>
</section>
{% endif %}

<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        <figure class="image is-square">
            <img src="{% static 'Telemedicine_PNG.png'%}">
        </figure>
    </div>
    <div class="column"></div>
</div>



<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>App</strong> by COVID-19-Hack.
        </p>
    </div>
</footer>
</body>
</html>
