<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COVID-19-Hack</title>

</head>
<body>
{% for participant in participants %}
<h3>Participant with TrackingKey={{participant.trackingKey}}</h3>
<h4>Location={{participant.location}}</h4>
<h4>Age Range={{participant.age}}</h4>
{% for answer in answersetsdata %}
<div>{{ answer }}</div>
{% endfor %}
{% endfor %}
</body>
</html>
