{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />

    <link rel="stylesheet" href="{% static 'css/question_list.css' %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153695048-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-153695048-2');
    </script>

    <script>

      function acknowledgeCookies()
      {
        setCookie('ack', 'yes', 365);
        document.getElementById('start_survey').disabled = false;
        document.getElementById('cookie_message').classList.add('is-hidden');
      }
    </script>

{% endblock %}

{% block body %}
<section class="section container">
<article class="message is-info" id="cookie_message">
  <div class="message-header">
    <p>Privacy Notice</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <div class="content">We are using anonymous data from cookies to ensure that multiple responses from the same person can be easily matched. This feature is only used if you select the Tracker Survey, if you do not wish to participate, simply use Anonymous Survey link and no cookies will be used.</div>
    <button class="button is-success" type="button" onClick="acknowledgeCookies();">I Understand</button>
  </div>
</article>

<!--
<div class="tile is-ancestor is-pulled-right">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Vertical...</p>
          <p class="subtitle">
          Number of people completed survey to date
          9,989,000
          From 29 countries
          Help us get to 10,000,000
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
-->
    <div class="container">

        <div class="content is-italic has-text-weight-bold">
This survey is for people aged 15 years or older who may have no symptoms or many symptoms of COVID-19. It takes about 7 minutes to complete. It was developed in Australia to help anyone in the world to improve their understanding of their symptoms and to help them track the symptoms over time.
        </div>

        <div class="content">
We invite you to complete the Symptom Checker to help you to see if you have possible symptoms of COVID-19. You can use the Symptom Checker just once or to follow your wellbeing over time. You can also help someone else to use the Symptom Checker.
        </div>

        <div class="content">
<b>The Symptom Checker can help you understand if you should seek medical advice. It does not diagnose COVID-19 and it does not provide specific medical advice.</b> If you need health advice, contact your local health authority or a medical practitioner.
        </div>

        <div class="content">
The symptoms of COVID-19 can range from mild flu-like symptoms to pneumonia (lung infection). Some people recover easily from COVID-19, while others may get very sick, very quickly. Symptoms can develop and change rapidly, so record your symptoms every day.
        </div>

        <div class="content">
Your identity cannot be revealed through filling in the Symptom Checker. We do not ask for your name, and the information you provide will be kept confidential. The information you provide will be used to help understand and control COVID-19 and provide advice to health authorities. This information could also be useful in the prevention of other pandemics; therefore we will keep the information we collect indefinitely to help us and other researchers in the future. By volunteering to complete the questions, you are not only helping yourself, but also your community.
        </div>

        <div class="content">
        This Symptom Checker has been developed by a team of public health and information technology researchers based at Swinburne University of Technology in Australia, which is a public university. The project was funded by an internal university grant in response to the COVID-19 outbreak.
        </div>

        <div class="content is-size-7">
        This project has been approved by or on behalf of Swinburne's Human Research Ethics Committee (SUHREC) in line with the National Statement on Ethical Conduct in Human Research. If you have any concerns or complaints about the conduct of this project, you can contact: Research Ethics Officer, Swinburne Research (H68), Swinburne University of Technology, P O Box 218, HAWTHORN VIC 3122 Australia. Tel (03) 9214 3845 or resethics@swin.edu.au
        </div>

        <div class="content has-text-weight-bold">
        By completing this survey, you are indicating that you agree to take part in this study.
        </div>
    </div>

    <br/>

    <div class="container has-text-centered">
        <button type="button" id="start_survey" class="button is-warning is-medium has-text-weight-bold" disabled onClick="document.getElementById('chooseSurvey').classList.add('is-active');">Click here to start</button>
    </div>

</section>

<div class="modal" id="chooseSurvey">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Symptom Checker</p>
      <button class="delete" aria-label="close" onClick="document.getElementById('chooseSurvey').classList.remove('is-active');"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <div class="content has-text-centered">What would you like to do?</div>

      <button class="button is-normal is-light has-text-weight-bold is-size-7-mobile" onClick="document.location='{{PREFIX_URL}}/monitor';">
        Track your symptoms over time (preferred)
      </button>
      <div class="content has-text-centered is-size-7">
        This helps you to track your symptoms and progress each day. We will use anonymous cookies to ensure that multiple responses from you can be easily matched.
      </div>

      <button class="button is-normal is-light has-text-weight-bold is-size-7-mobile" onClick="document.location='{{PREFIX_URL}}/questionnaire';">
        One-time symptom check
      </button>
      <div class="content has-text-centered is-centered is-size-7">
        You will get your result after completing the Symptom Checker. You cannot track your progress over time.
      </div>
    </section>
  </div>
</div>

<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        <figure class="image is-square">
            <img src="{% static 'Telemedicine_SVG.svg' %}">
        </figure>
    </div>
    <div class="column"></div>
</div>

{% endblock %}

{% block footer %}
    <div class="content has-text-centered">
        <div class="content">This website has been developed by a team of public health and IT researchers, and staff at <a href="https://www.swinburne.edu.au/" target="_blank" class="has-text-dark has-text-weight-bold">Swinburne University of Technology</a>, Australia. This will help determine the current and emerging COVID-19 symptoms of people across the world.  This will help you improve your understanding of your health, follow changes and help us to advise health authorities about  what’s going on from the community’s perspective.</div>
        <img src="{% static 'swinburne-logo-horizontal-large.gif' %}" width="100"/>
    </div>
{% endblock %}


{% block js_end %}
<script>
  var ack = getCookie("ack");
  if (ack == "yes")
  {
    //acknowledgeCookies();
  }
  else
  {
    //document.getElementById("cookie_message").classList.remove("is-hidden");
  }
   

</script>
{% endblock %}
