{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Coronavirus Symptom Checker</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153695048-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153695048-2');
    </script>

    <!-- covid toolkit -->
    <script src="static/js/covid.js"></script>

</head>
<body>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="color:#FFEC00">
                Coronavirus Symptom Checker
            </h1>
            <h2 class="subtitle" style="color:#FFEC00">
                Your personal tracker of the symptoms of coronavirus (COVID-19)
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <p>Coronavirus (COVID-19) symptoms range from mild flu-like symptoms to pneumonia. Some people recover easily, others may get very sick very quickly.</p><br/>
        <p>For general advice on the Coronavirus (COVID-19) or to find out what to do if you think you have symptoms, contact your local health authority.</p><br/>
        <p>This app does not diagnose COVID-19, it only assesses if you have some of the possible symptoms for the infection. You will need to contact your relevant local health authority to determine if you should be tested.</p><br/>
        <p>[some text for HREC – this is a research project]</p><br/>
        <p>Last updated on: 15/03/2020</p>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-6">
                <a class="button is-medium is-fullwidth is-warning has-text-weight-bold" href="{{ urlprefix }}/questionnaire">
                    Anonymous Survey
                </a>
                <p class="is-size-6 has-text-centered">One-time symptom checker</p>
            </div>
            <div class="column is-6">
                <a class="button is-medium is-fullwidth is-warning has-text-weight-bold" href="{{ urlprefix }}/monitor">
                    Tracker Survey
                </a>
                <p class="is-size-6 has-text-centered">Follow your symptoms over time (recommended)</p>
            </div>
        </div>

        <br />
        <a class="button is-medium is-fullwidth is-dark is-outlined" href="survey_response.html">My Survey Responses</a>
        <p class="is-size-6 has-text-centered">Record my symptoms and test results today (we want to know if you tested positive or negative)</p>
        <br />

    </div>
</section>

<div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
        <figure class="image is-square">
            <img src="{% static 'Telemedicine_SVG.svg' %}">
        </figure>
    </div>
    <div class="column"></div>
</div>

<article class="message is-info" id="cookie_message">
  <div class="message-header">
    <p>Cookies Notice</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <div class="content">We are using anonymous data from cookies to ensure that multiple responses from the same person can be easily matched. This feature is only used if you select the Tracker Survey, if you do not wish to participate, simply use Anonymous Survey link and no cookies will be used.</div>
    <button class="button is-success" type="button" onClick="setCookie('ack', 'yes', 365); document.getElementById('cookie_message').classList.add('is-hidden');">I Understand</button>
  </div>
</article>

<footer class="footer">
    <div class="content has-text-centered">
        <p>This website has been developed by a team of public health and IT researchers, and staff at <a href="https://www.swinburne.edu.au/" target="_blank" class="has-text-dark has-text-weight-bold">Swinburne University of Technology</a>, Australia. This will help determine the current and emerging COVID-19 symptoms of people across the world.  This will help you improve your understanding of your health, follow changes and help us to advise health authorities about  what’s going on from the community’s perspective.</p>
        <img src="{% static 'swinburne-logo-horizontal-large.gif' %}" width="100"/>
    </div>
</footer>

<script src="https://kit.fontawesome.com/224eab9f43.js" crossorigin="anonymous"></script>
</body>

<script type="text/javascript">
  var ack = getCookie("ack");
  if (ack == "yes")
  {
    document.getElementById("cookie_message").classList.add("is-hidden");
  }
  
</script>
</html>
