<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COVID-19-Hack</title>

    <!-- bulma 0.8.0 -->
    <link rel="stylesheet" href="static/css/bulma.min.css" />

    <!-- bulma calendar -->

    <link rel="stylesheet" href="static/css/bulma-calendar.min.css" />
    <script src="static/js/bulma-calendar.min.js"></script>

    <script type="text/javascript">

      function get_radio_selected_value(name)
      {
        var elements = document.getElementsByName(name);
        var value;
        for (var i = 0; i < elements.length; i++)
        {
            if (elements[i].checked)
            {
                value = elements[i].value;
            }
        }
        return value;
      }

      function prepare_submit()
      {
        var prev_key = document.getElementById("tracking_code").value;
        if ( prev_key != "")
          document.getElementById('generated_key').innerHTML = "";
        else
          document.getElementById('generated_key').innerHTML = "To synchronise future survey responses, please record this unique key: {{ generatedKey }}";
        document.getElementById('modalPanel').classList.add('is-active');
      }
    </script>


</head>
<body>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="color:#FFEC00">
                Coronavirus Symptom Checker
            </h1>
            <h2 class="subtitle" style="color:#FFEC00">
                Your personal tracker of the symptoms of coronavirus (COVID-19)
            </h2>
        </div>
    </div>
</section>
<div class="all">
{% if questions %}
<form method="post" action="/covid19/saveresponse">
    {% csrf_token %}

    <section class="section">
    <h4 class="title is-4">Have you been to a medical practitioner OR HEALTH SERVICE and BEEN tested for COVID-19 (CoronaVirus)?</h4>
    <script type="text/javascript">
        function have_been_tested()
        {
          var value = get_radio_selected_value("47");
          if (value == "0")
           {
             document.getElementById("test_result").className = "is-hidden";
             document.getElementById("test_date").className = "is-hidden";
             document.getElementById("test_location").className = "is-hidden";
           }
           else
           {
             document.getElementById("test_result").className = "field";
             document.getElementById("test_date").className = "field";
             document.getElementById("test_location").className = "field";
           }
         }
    </script>
    {% for question in questions %}
        {% if question.istested %}
            {% if question.isanswer %}
       <div class="field">
            <div class="control">
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="have_been_tested()">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="have_been_tested()">
            </div>
        </div>
            {% else %}
                {% if question.order == 1 %}
       <div class="is-hidden" id="test_result">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">Negative</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Positive</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
            </div>
        </div>
                {% else %}
                    {% if question.order == 2 %}
         <div class="is-hidden" id="test_date">
            <label>{{ question.question }}</label>
            <div class="control">
                <input class="is-size-6 has-text-dark" type="date" name="{{ question.id }}" id="{{ question.id }}" value="">
            </div>
        </div>
                    {% else %}
        <div class="is-hidden" id="test_location">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h4 class="title is-4">Since this time yesterday, have you had any of the following symptoms?</h4>
    {% for question in questions %}
        {% if question.isscale %}
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">None</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Mild</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="2">Moderate</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2">
                &nbsp;&nbsp;
                <label class="radio" for="3">Severe</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="3">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h4 class="title is-4">Since this time yesterday, have respiratory of flu-like problems given you difficulty to:</h4>
    {% for question in questions %}
        {% if question.isdifficulty %}
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">None</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Some</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="2">Moderate</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2">
                &nbsp;&nbsp;
                <label class="radio" for="3">Great</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="3">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h4 class="title is-4">Did you travel OUTSIDE of your home city/town of residence within the last 14 days?</h4>
    <script type="text/javascript">
        function istravel(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.istravel %}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>
    {% for question in questions %}
        {% if question.istravel %}
            {% if question.isanswer %}
        <!-- YesNoUnsure -->
        <div class="field">
            <div class="control">
                <label class="radio" for="2">Unsure</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="istravel('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="istravel('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="istravel('{{ question.id }}')">
            </div>
        </div>
            {% else %}
        <!-- Text -->
        <div class="is-hidden" id="field_{{ question.id}}">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h4 class="title is-4">In the last 14 days have you attended any mass gatherings (more than 500 people) ?</h4>
    <script type="text/javascript">
        function isgathering(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.isgathering %}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>

    {% for question in questions %}
        {% if question.isgathering %}
        {% if question.isanswer %}
        <!-- YesNoUnsure -->
        <div class="field">
            <div class="control">
                <label class="radio" for="2">Unsure</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="isgathering('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="isgathering('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="isgathering('{{ question.id }}')">
            </div>
        </div>
            {% else %}
        <!-- Text -->
        <div class="is-hidden" id="field_{{ question.id }}">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h4 class="title is-4">Have you been in contact with anyone confirmed to have COVID-19 in the last 14 days?</h4>
    <script type="text/javascript">
        function iscontact(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.iscontact%}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>

    {% for question in questions %}
        {% if question.iscontact %}
            {% if question.isanswer %}
                <!-- YesNoUnsure -->
                <div class="field">
                    <div class="control">
                        <label class="radio" for="2">Unsure</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="iscontact('{{ question.id }}')">
                        &nbsp;&nbsp;
                        <label class="radio" for="1">Yes</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="iscontact('{{ question.id }}')">
                        &nbsp;&nbsp;
                        <label class="radio" for="0">No</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="iscontact('{{ question.id }}')">
                    </div>
                </div>
                    {% else %}
                <!-- Text -->
                <div class="is-hidden" id="field_{{ question.id }}">
                    <label class="label">{{ question.question }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h4 class="title is-4">Have you been self-isolating in the last 14 days?</h4>
    {% for question in questions %}
        {% if question.isisolating %}
        <!-- YesNo -->
        <div class="field">
            <div class="control">
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h4 class="title is-4">More about you</h4>
    {% for question in questions %}
        {% if question.isage %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <div class="select">
                    <select id="{{ question.id }}" name="{{ question.id }}">
                        <option value="" selected></option>
                        <option value="<15">&lt; 15</option>
                        <option value="15-17">15-17</option>
                        <option value="18-29" >18-29</option>
                        <option value="30-39">30-39</option>
                        <option value="40-49">40-49</option>
                        <option value="50-59">50-59</option>
                        <option value="60-69">60-69</option>
                        <option value="70-79">70-79</option>
                        <option value="80+">80+</option>
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="field">
      <label class="label">What is your location?</label>
      <div class="control">
          <input id="autocomplete_search" name="autocomplete_search" type="text" class="input" placeholder="Search" />
          <input type="hidden" class="control" name="respondent_place" id="respondent_place" />
      </div>
    </div>

    {% for question in questions %}
        {% if question.iscountry %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
<select>
        {% for country in countryList %}
<option>{{country}}</option`>
        {% endfor %}
</select>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.istown %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.isregion %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.ispostcode %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h4 class="title is-4">Do you have of the following long-term conditions?</h4>
    <div class="field">
    {% for question in questions %}
        {% if question.islongterm %}
        <label class="checkbox-inline">
          <input type="checkbox" data-toggle="toggle" off="No" on="Yes"> {{ question.question }}
        </label>
        <br/>
        {% endif %}
    {% endfor %}
    </div>
    </section>


    <section class="section has-background-warning">
      <div class="field">
        <label class="label">If you have previously responded, please enter you unique code here</label>
        <input class="input" type="text" placeholder="Text input" id="tracking_code" name="tracking_code">
     </div>

      <div class="modal" id="modalPanel">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Confirm Questionnaire</p>
          </header>
          <section class="modal-content-body">
            <p class="modal-card-body" id="conditions">By responding to this survey, this you consent that this information may be... (TBD)</p>
{% if generatedKey %}
            <p class="modal-card-body" id="generated_key">Please record this unique key: {{ generatedKey }} and use it in future responses.</p><br/>
{% endif %}
          </section>
          <footer class="modal-card-foot">
            <button type="button" class="button is-success">Save</button>
            <button type="button" class="button" onClick="document.getElementById('modalPanel').classList.remove('is-active');">Cancel</button>
          </footer>
        </div>
      </div>
      <div>
        <button class="button is-success" type="button" id="showModal" onClick="prepare_submit();">Save</button>
      </div>
    </section>
</form>
{% else %}
    <p>No questions are available.</p>
{% endif %}
</div>

</body>

<!-- bulma calendars -->
<script type="text/javascript">
  // Initialize all input of type date
  var calendar_options = [];
  var calendars = bulmaCalendar.attach('[type="date"]', calendar_options);
</script>

<!-- Google Places API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr9vma0ZPVFLmkOESuqK4tHNrfwtnyVaM&libraries=places"></script>

<script>

  google.maps.event.addDomListener(window, 'load', initialize);

  function initialize() {

    // Create bounds from Australia
    var auBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-44, 113),
      new google.maps.LatLng(-10, 154)
    );

    // Create a new session token.
    var sessionToken = new google.maps.places.AutocompleteSessionToken();

    var options = {
      bounds: auBounds,
      types: ['(regions)'],
      sessionToken: sessionToken
    }
    var input = document.getElementById('autocomplete_search');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.setFields(["address_components", "geometry"]);
    autocomplete.addListener('place_changed', function () {
    var place = autocomplete.getPlace();
    // place variable will have all the information you are looking for.
    var place_str = JSON.stringify(place, null, 4);
    document.getElementById('respondent_place').value = place_str;
  });
  }
</script>
</html>
