<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COVID-19-Hack</title>

    <!-- Use bulma 0.8.0 -->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-touch-icon.png">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />

    <!-- TODO change this to be distributed with the questionnaire -->
    <link href="https://astronomy.swin.edu.au/~ajameson/covid19/css/bulma-calendar.min.css" rel="stylesheet">
    <script src="https://astronomy.swin.edu.au/~ajameson/covid19/js/bulma-calendar.min.js"></script>

    <script src="https://kit.fontawesome.com/224eab9f43.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
      function get_radio_selected_value(name)
      {
        var elements = document.getElementsByName(name);
        var value;
        for (var i = 0; i < elements.length; i++)
        {
            if (elements[i].checked)
            {
                value = elements[i].value;
            }
        }
        return value;
      }
    </script>


</head>
<body>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="color:#FFEC00">
                Coronavirus Symptom Checker
            </h1>
            <h2 class="subtitle" style="color:#FFEC00">
                Your personal tracker of the symptoms of coronavirus (COVID-19)
            </h2>
        </div>
    </div>
</section>
<div class="all">
{% if questions %}
<form method="post" action="/covid19/saveresponse">
    {% csrf_token %}

    <section class="section">
    <h3 class="title is-3">Have you been to a medical practitioner OR HEALTH SERVICE and BEEN tested for COVID-19 (CoronaVirus)?</h3>
    <script type="text/javascript">
        function have_been_tested()
        {
          var value = get_radio_selected_value("47");
          if (value == "0")
           {
             document.getElementById("test_result").className = "is-hidden";
             document.getElementById("test_date").className = "is-hidden";
             document.getElementById("test_location").className = "is-hidden";
           }
           else
           {
             document.getElementById("test_result").className = "field";
             document.getElementById("test_date").className = "field";
             document.getElementById("test_location").className = "field";
           }
         }
    </script>
    {% for question in questions %}
        {% if question.istested %}
            {% if question.isanswer %}
       <div class="field">
            <div class="control">
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="have_been_tested()">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="have_been_tested()">
            </div>
        </div>
            {% else %}
                {% if question.order == 1 %}
       <div class="is-hidden" id="test_result">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">Negative</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Positive</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
            </div>
        </div>
                {% else %}
                    {% if question.order == 2 %}
         <div class="is-hidden" id="test_date">
            <label>{{ question.question }}</label>
            <div class="control">
                <input class="is-size-6 has-text-dark" type="date" name="{{ question.id }}" id="{{ question.id }}" value="">
            </div>
        </div>
                    {% else %}
        <div class="is-hidden" id="test_location">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h3 class="title is-3">Since this time yesterday, have you had any of the following symptoms?</h3>
    {% for question in questions %}
        {% if question.isscale %}
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">None</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Mild</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="2">Moderate</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2">
                &nbsp;&nbsp;
                <label class="radio" for="3">Severe</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="3">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h3 class="title is-3">Since this time yesterday, have respiratory of flu-like problems given you difficulty to:</h3>
    {% for question in questions %}
        {% if question.isdifficulty %}
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <label class="radio" for="0">None</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
                &nbsp;&nbsp;
                <label class="radio" for="1">Some</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="2">Moderate</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2">
                &nbsp;&nbsp;
                <label class="radio" for="3">Great</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="3">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h3 class="title is-3">Did you travel OUTSIDE of your home city/town of residence within the last 14 days?</h3>
    <script type="text/javascript">
        function istravel(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.istravel %}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>
    {% for question in questions %}
        {% if question.istravel %}
            {% if question.isanswer %}
        <!-- YesNoUnsure -->
        <div class="field">
            <div class="control">
                <label class="radio" for="2">Unsure</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="istravel('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="istravel('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="istravel('{{ question.id }}')">
            </div>
        </div>
            {% else %}
        <!-- Text -->
        <div class="is-hidden" id="field_{{ question.id}}">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h3 class="title is-3">In the last 14 days have you attended any mass gatherings (more than 500 people) ?</h3>
    <script type="text/javascript">
        function isgathering(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.isgathering %}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>

    {% for question in questions %}
        {% if question.isgathering %}
        {% if question.isanswer %}
        <!-- YesNoUnsure -->
        <div class="field">
            <div class="control">
                <label class="radio" for="2">Unsure</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="isgathering('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="isgathering('{{ question.id }}')">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="isgathering('{{ question.id }}')">
            </div>
        </div>
            {% else %}
        <!-- Text -->
        <div class="is-hidden" id="field_{{ question.id }}">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h3 class="title is-3">Have you been in contact with anyone confirmed to have COVID-19 in the last 14 days?</h3>
    <script type="text/javascript">
        function iscontact(id)
        {
          var value = get_radio_selected_value(id);
          var fields = [];
          {% for question in questions %}
              {% if question.iscontact%}
                  {% if not question.isanswer %}
          fields.push("field_{{ question.id }}");
                  {% endif %}
              {% endif %}
          {% endfor %}
          var className = (value == "0" || value == "2") ? "is-hidden" : "field";
          for (i=0; i<fields.length; i++)
          {
            document.getElementById(fields[i]).className = className;
          }
        }
    </script>

    {% for question in questions %}
        {% if question.iscontact %}
            {% if question.isanswer %}
                <!-- YesNoUnsure -->
                <div class="field">
                    <div class="control">
                        <label class="radio" for="2">Unsure</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="2" onchange="iscontact('{{ question.id }}')">
                        &nbsp;&nbsp;
                        <label class="radio" for="1">Yes</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1" onchange="iscontact('{{ question.id }}')">
                        &nbsp;&nbsp;
                        <label class="radio" for="0">No</label>
                        <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0" onchange="iscontact('{{ question.id }}')">
                    </div>
                </div>
                    {% else %}
                <!-- Text -->
                <div class="is-hidden" id="field_{{ question.id }}">
                    <label class="label">{{ question.question }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h3 class="title is-3">Have you been self-isolating in the last 14 days?</h3>
    {% for question in questions %}
        {% if question.isisolating %}
        <!-- YesNo -->
        <div class="field">
            <div class="control">
                <label class="radio" for="1">Yes</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="1">
                &nbsp;&nbsp;
                <label class="radio" for="0">No</label>
                <input type="radio" name="{{ question.id }}" id="{{ question.id }}" value="0">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section has-background-warning">
    <h3 class="title is-3">More about you</h3>
    {% for question in questions %}
        {% if question.isage %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <div class="select">
                    <select id="{{ question.id }}" name="{{ question.id }}">
                        <option value="">--</option>
                        <option value="<18">&lt; 18</option>
                        <option value="19-29" >19-29</option>
                        <option value="30-39">30-39</option>
                        <option value="40-49">40-49</option>
                        <option value="50-59">50-59</option>
                        <option value="60-69">60-69</option>
                        <option value="70-79">70-79</option>
                        <option value="80+">80+</option>
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.iscountry %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.istown %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.isregion %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for question in questions %}
        {% if question.ispostcode %}
        <!-- Text -->
        <div class="field">
            <label class="label">{{ question.question }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" id="{{ question.id }}" name="{{ question.id }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section class="section">
    <h3 class="title is-3">Do you have of the following long-term conditions?</h3>
    <div class="field">
    {% for question in questions %}
        {% if question.islongterm %}
        <label class="checkbox-inline">
          <input type="checkbox" data-toggle="toggle" off="No" on="Yes"> {{ question.question }}
        </label>
        <br/>
        {% endif %}
    {% endfor %}
    </div>
    </section>

    <section class="section has-background-warning">
        <div>
            <button class="button is-success">
                <span class="icon is-small">
                   <i class="fas fa-check"></i>
                </span>
              <span>Save</span>
          </button>
        </div>
    </section>
</form>

{% else %}
    <p>No questions are available.</p>
{% endif %}
</div>
</body>
</html>
