.container {
  max-width: 960px;
}

.survey-content {
  margin-top: 2rem;
}

.left-column-content {
  background-color: #F4F8FF;
  border-radius: 6px;
  padding: 1rem;
  font-size: 0.8rem;
}
.right-column-content {
  border-radius: 6px;
  padding: 1rem;
}

.telemed-image {
  max-width: 400px;
  margin: 0 auto;
}

.site-navbar {
  background-color: #140E4B;
  color: #fff;
  padding: 1rem;
}

.site-navbar h1 {
  font-size: 18px;
  font-weight: 600;
  display: block;
  letter-spacing: -0.05em
}

.site-navbar h2 {
  font-size: 11px;
  font-weight: 300;
  display: block;
  color: #ccc;
}

.survey-type-options {
  padding: 1rem;
}

.survey-type-options a {
  background-color: #F4F8FF;
  padding: 1.2rem;
  line-height: 1.3rem;
  display: block;
  transition: all .1s ease-in;
  box-shadow: 2px 2px 0 #D9E7FF;
  border: 1px solid #566277;
  color: #140E4B;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.survey-type-options a:last-child {
  margin-bottom: 0;
}

.survey-type-options a:hover {
  box-shadow: 0 0 0 #333 !important;
  border-color: #333;
  background-color: #fff;
}

.survey-type-options a:focus {
  box-shadow: 2px 2px 0 #333 !important;
  border-color: #333;
  background-color: #fff;
}

.survey-type-options h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.survey-type-options span {
  font-size: 12px;
  line-height: 1.2rem;
  display: block;
  color: #566277;
}

/* footer styles */
.footer {
  margin-top: 2rem;
  border-top: 1px solid #999;
  background-color: none;
}

/* overwrite bulma .is-info colours */
.message.is-info {
  background-color: #D9E7FF;
}
.message.is-info .message-header {
  background-color: #566277;
}
.message.is-info .message-body {
  border-color: none;
  color: #140E4B;
}
.notification.is-info {
  background-color: #D9E7FF;
}
.notification.is-info .content {
  color: #140E4B;
}

/* button styles */
.button {
  transition: all .1s ease-in;
  box-shadow: 2px 2px 0 #aaa;
  border: 1px solid #aaa;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 0 #333 !important;
  border-color: #333;
}

.button:focus {
  box-shadow: 2px 2px 0 #333 !important;
  border-color: #333;
}

/* responsive styles */
@media all and (min-width: 520px) {
  .site-navbar {
    padding: 1rem;
  }

  .site-navbar h1 {
    font-size: 25px;
  }

  .site-navbar h2 {
    font-size: 14px;
  }

  .survey-type-options {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .survey-type-options a {
    width: 100%;
    min-height: 180px;
    margin: 1rem;
  }

  .survey-type-options a:last-child {
    margin: 1rem;
  }

  .survey-type-options h4 {
    height: 3rem;
    margin-bottom: 1rem;
  }
}